body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image:radial-gradient(rgb(227, 212, 119),rgb(119, 157, 210),rgb(154, 110, 204));
}
#text{
    height: 250px;
    text-align: justify;
   background-position: center;
   border: 10px 10px;
   padding: 60px;
   font-size: 50px;
   font-weight: bolder;
   color: rgb(41, 6, 90);
   font-family:Arial, Helvetica, sans-serif
}